*{
  scroll-behavior: smooth;
}
.header-text{
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../images/background-homepage.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  
  
}

