body{
    font-family: $main-font !important;
    overflow:hidden;
    box-sizing: border-box;
  

    .dot{
          color: red;
        }
    .sticky{
      background: white;
      padding: 10px 100px;
      box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    }
}
.navbar{
    position: fixed;
    z-index: 10000;
    
   // -webkit-box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.75);
   // -moz-box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.75);
   // box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.75);
    color: white;

    .navbar-brand{
        font-family: $logo-font;
        
    }
    .navbar-nav{
        margin-right:10vh;
        font-size: 20px;
        
        .nav-item{
            margin-left: 30px;
        }
    }
    .dropdown-menu{
        
        transition: 2s;
        border-radius: 10%;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.62);
    }
    transition: 0.5s;
}

/* Change this breakpoint if you change the breakpoint of the navbar */

@media (min-width: 992px) {
  .animate {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(4rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/*---------------------Phone----Version-------------------------------------------------*/

@media only screen and (max-width: 768px) {
 body{
  
    
    
        .sticky{
      background: white;
      padding: 0;
      box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    }
    .navbar-collapse{
      background-color:rgba(0, 0, 0, 0.637)
    }
    .mainTextPhone{
      font-size: 70%;
    }
}
}